body {
    background-color: rgb(17, 32, 48);
    color: rgb(77, 152, 134);
    font-family: 'Futura', monospace;
    text-align: center;
    padding-top: 20%;
}

h1 {
    font-weight: bold;
}

p {
    font-weight: normal;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
